/* Main */
:root {
    --textColor: #9ba1ac;
    --bgColor: #232437;
    --altColor: #212337;
    --hlColor: #764efc;
    --headerHrColor: #34217a;
    --headerOutlineColor: #1d1f2a;
    --headerShadow: #181928;
    --bioColor: #2a2c39;
    --pfpBorderColor: #5a0291;
    --dropdownLangColor: #15181f;
    --langsColor: #e3e0fe;
}

/* IDs */
#main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

#header-hr {
    color: var(--headerHrColor);
    box-shadow: 1px 1px var(--headerHrColor);
}

#header {
    outline: 4px solid var(--headerOutlineColor);
    background-color: var(--altColor);
    box-shadow: 10px 10px var(--headerShadow);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

#menu {
    display: flex;
    float: right;
    gap: 5px;
}

@media (max-width: 776px) {
    #header-hr {
        display: none;
    }

    #header {
        height: 120px;
    }

    #menu {
        padding-top: 10px;
    }
    
}

#logo {
    vertical-align: auto;
    display: inline-block;
    width: 400px;
}

@media (max-width: 515px) {
    #logo {
        width: 250px;
    }

    #header {
        height: 90px;
    }

}

#sidebar {
    outline: 4px solid var(--headerOutlineColor);
    background-color: var(--altColor);
    box-shadow: 10px 10px var(--headerShadow);
    float: right;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 30px;
    width: 300px;
}

@media (max-width: 880px) {
    #sidebar {
        display: none;
    }
}

#langs {
    background-color: var(--dropdownLangColor);
    border-color: var(--dropdownLangColor);
    color: var(--langsColor);
    font-family: Monocraft;
    border-radius: 5px;
}

#intro {
    padding-top: 30px;
    padding-left: 20px;
    max-width: 800px;
}

#intro-title {
    font-size: 25px;
}


/* Minecraft Splash */
#status {
    color: #FFFF00;
    font-size: 15px;
    font-family: 'Monocraft';
    text-shadow: 3px 3px #3F3F00;
    padding: 40px;
    position: absolute;
}

@media (max-width: 515px) {
    #status {
        display: none;
    }
}

.pop {
    animation: pop 0.58s infinite;
    -webkit-animation: pop 0.58s infinite;
}

.splash {
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    position: absolute;
    padding-left: 170px;
    padding-top: 130px;
}

@keyframes pop {
    from {
        transform: scale(0.95)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(0.95)
    }
}

@-webkit-keyframes pop {
    from {
        -webkit-transform: scale(0.95)
    }

    50% {
        -webkit-transform: scale(1)
    }

    to {
        -webkit-transform: scale(0.95)
    }
}